<div class="component">
  <div class="row">
    <div class="navbar navbar-default animated fadeInUp">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home">
            <img src="images/logo_petit.png">
          </a>     
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a ui-sref="home"><b>Home</b></a></li>
            <li><a ui-sref="programs"><b>Program</b></a></li>
            <li><a ui-sref="createProgram"><b>Create Workout</b></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>