<div class="component">
  <div id="popDetailExe" class="popDetailExe col-sm-8 col-sm-offset-4">
    <button title="Close" ng-click="$ctrl.close()" class="popCross glyphicon glyphicon-remove"></button>
    <img class="popImg" src="{{$ctrl.image1}}">
    <img class="popImg" src="{{$ctrl.image2}}">
    <div class="poplgn">Exercise Name : {{$ctrl.exercise.name}}</div>
    <div class="poplgn">Category : {{$ctrl.category.name}}</div>
    <div id="descExe" class="poplgn" ></div>           
  </div>
</div>