<div class="component">
  <div class="col-xs-12 title animated fadeInDown"> 
    <div class="col-xs-12 text-center"><h1>Personal programss</h1></div> 
</div>
  <div class="col-sm-12">
    <div class="col-sm-12 text-center">
      <button ui-sref="createProgram" class="btn btn-default">Create new program</button>  
    </div>
    <div class="col-sm-4 col-sm-offset-3 text-center">
      <ul ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.programs" class="list-group">
        <li ng-repeat="e in $ctrl.programs track by $index" class="item list-group-item col-sm-12 col-sm-offset-3 text-center">
          <div class="workoutTitle col-sm-6">{{ e.title }}</div>
          <button ui-sref="program({id:$index})" class="btn btn-default col-sm-2">Start</button>
          <button ui-sref="createProgram({id:$index})" class="btn btn-default col-sm-2">Change</button>  
          <button ng-click="$ctrl.deleteProgram($index)" class="btn btn-default col-sm-2">Delete</button>     
        </li>
      </ul>  
    </div>     
  </div>   
</div>