<div class="component">
  <div class="col-xs-12">
    <div class="col-xs-12 text-center"><h2>{{$ctrl.program.title}}</h2></div>
    <div class="col-sm-8 col-sm-offset-2">
      <ul class="list-group">
        <li ng-repeat="item in $ctrl.program.exercises track by $index" class="item list-group-item col-xs-12">
          <div class="col-xs-12">
            <div class="itemName col-sm-2"><strong>{{item.name}}</strong></div>
            <div class="col-sm-1">Sets left {{item.nbSets}}</div>
            <div class="col-sm-1">Weight {{item.exeUnitWeight}}</div>
            <div class="col-sm-1">Time {{item.exeUnitTime | date : 'HH:mm:ss'}}</div>
            <div class="col-sm-1" ng-hide="$index != 0">
              Reps
              <input type="number" class="exeInput" min="0" ng-model="$ctrl.program.exercises[$index].reps" name="Reps" >
            </div>
            <div class="col-sm-2" ng-hide="$index != 0">
              Time
              <input type="time" step="1" class="exeInput timeInput" ng-model="$ctrl.program.exercises[$index].time" name="Time" >
            </div>
            <div class="col-sm-2">
              Rest period {{item.exeUnitRest | date : 'HH:mm:ss'}}
            </div>
            <div class="col-sm-2" ng-hide="$index != 0">
              <button class="btn btn-default glyphicon glyphicon-ok" ng-click="$ctrl.nextSet($index, item)"></button>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>