html{
	margin-bottom: 150px;
}
body {	
  background-color: #FFFFFF;
}
h1{
	font-weight: bold;
}
ul li{
	list-style-type: none;
}
div{
	padding: 3px;
}
hr{
	width: 100%;
	display: block;
    margin-top: 30px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
input:hover, input:focus{
	transition: 0.1s all ease;
	box-shadow: 1px 1px 4px 2px lightgrey; 
}

.component{	

}
.lowerBody{
	
}
.animated{
	animation-duration: 0.6s;
}
.listExercise{
	min-height: 50px;
	border-radius: 10px;
	transition: 0.5s all ease;
}
.glyphicon{
	width: 40px;
	float: right;
}
.glyphicon-plus{
}
.glyphicon-minus{
}
.glyphicon-menu-up, .glyphicon-menu-down{
}
.item{	
	margin-bottom: 3px;
}
.item:hover{
	transition: 0.2s all ease;		
	box-shadow: 1px 1px 1px 3px #FE2E2E;
	border: solid white 1px;
}
.itemName{
	display: inline-block;
	font-weight: bold;
}
.saveBtn{
	width: 150px;
	margin-bottom: 10px;
	padding: 5px;
}
.YWBtn, .DbBtn{
	display: inline-block;
	margin-bottom: 5px;
}
.YWBtn{
	
}
.popDetailExe, .popNewExe{
	min-width: 360px;
	top: 10%;
	background-color: #FFFFFF;
	position: fixed;
	z-index: 999;
	display: none;
	padding: 20px;
	z-index: 3;
    height: 80%;
    box-shadow: 1px 2px 10px 3px #FE2E2E;
    max-height: 425px;
}
.popImg{
	width: 100px;
	clear: right;
}
.popCross{
	padding: 3px;
	border:solid 1px;
}
.exeInput{
	width: 45px;
}
.timeInput{
	width: 100px;
}
.better, .same, .worse{
	border: dotted 3px;
}
.better{
	border-color: green;
}
.same{
	border-color: lightgrey;
}
.worse{
	border-color: yellow;
}
.objectiveTxt{
	color: green;
}
.workoutTitle{
	font-size: 18px;
	font-weight: bold;
}
.homeBtn{
	font-size: 24px;
}
.DbBtn .btn{
	float: right;
}
#overBody{
	z-index: 2;
    opacity: 0.9;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    position: fixed;
    background-color: #585858;
    padding: 20px;
    top: -5px;
    left: -5px;
}
.popScroll{
	height: 90%;
	overflow: auto;
}

.image{
	margin-left: 250px;
}



.title{
	background-color: #DF0101;
	color: white;
}
.progTitle{

}
#hideDbList{
		
}

.navbar{
	background-image: url("images/bkg.jpeg");
}

