html{
	margin-bottom: 150px;
}
body {	
  background-color: #FFFFFF;
}
ul{
	list-style-type: none;
}
div{
	padding: 3px;
}
.listExercise{
	min-height: 50px;
	border : solid 3px; 
}
.glyphicon{
	width: 40px;
	float: right;
}
.glyphicon-plus{
}
.glyphicon-minus{
}
.glyphicon-menu-up, .glyphicon-menu-down{
}
.item{	
}
.itemName{
	display: inline-block;
}
.saveBtn{
	width: 150px;
	margin-bottom: 10px;
}
.YWBtn{
	display: inline-block;
	margin-bottom: 5px;

}
.popDetailExe{
	min-width: 360px;
	width: 30%;
	top: 10%;
	background-color: lightgrey;
	position: fixed;
	z-index: 999;
	display: none;
	padding: 20px;
	overflow: auto;
}
.popImg{
	width: 150px;
	clear: right;
}
.popCross{
	float: right;
}
.exeInput{
	width: 45px;
}
.timeInput{
	width: 90px;
}
